<a href="https://colab.research.google.com/github/Winlai16/MMDT_T-PY101_Batch03/blob/main/wlp_phyu/Ex5_Function_winlaiphyu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [1]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(2,4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [2]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

print(calcualte_numbers(2))

63

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [13]:
def number_of_factors(n):
    if n <= 0:
        return 0
    count = 0
    for i in range(1, int(n**0.5) + 1):
        if n % i == 0:

            count += 1

            if i != n // i:

                count += 1

    return count
number_of_factors(12)

6

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [26]:
def first_diff(s1, s2):
    # Convert both strings to the same case
    s1 = s1.lower()
    s2 = s2.lower()

    # Compare characters up to the shortest length
    min_len = min(len(s1), len(s2))
    for i in range(min_len):
        if s1[i] != s2[i]:
            return i

    # If lengths differ, the difference starts at min_len
    if len(s1) != len(s2):
        return min_len

    # Strings are identical
    return -1
print(first_diff("Hello", "Hellpxc"))

4

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [27]:
def root(x, n=2):
    return x / n
root(8)

4.0

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [28]:
def solve_system(a, b, c, d, e, f):
    det = a * d - b * c

    if det == 0:
        return None  # No unique solution

    x = (e * d - b * f) / det
    y = (a * f - e * c) / det

    return x, y
solve_system(3,4,5,6,7,8)

(-5.0, 5.5)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [30]:
def change_case(s):
    result = ""
    for ch in s:
        if ch.isupper():
            result += ch.lower()
        elif ch.islower():
            result += ch.upper()
        else:
            result += ch
    return result
change_case('PyHoO')

'pYhOo'

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [33]:
def primes(n=100):
    prime_list = []
    num = 2

    while len(prime_list) < n:
        is_prime = True
        for i in range(2, int(num ** 0.5) + 1):
            if num % i == 0:
                is_prime = False
                break

        if is_prime:
            prime_list.append(num)

        num += 1

    return prime_list
primes(10)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [36]:
## I used AI and don't know how to extract the code
import random

def place_o(board):
    empty_spots = []

    # Collect all empty positions
    for i in range(3):
        for j in range(3):
            if board[i][j] == 0:
                empty_spots.append((i, j))

    # Choose a random empty spot (must choose one)
    i, j = random.choice(empty_spots)
    board[i][j] = 2

    return board

board = [[1, 0, 2],[0, 1, 0],[2, 0, 0]]

print(place_o(board))

[[1, 0, 2], [0, 1, 2], [2, 0, 0]]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”

In [38]:
##I used AI for this question
def valid_sudoku(board):
    # Check rows
    for row in board:
        if len(set(row)) != 9:
            return False

    # Check columns
    for col in range(9):
        column = [board[row][col] for row in range(9)]
        if len(set(column)) != 9:
            return False

    # Check 3×3 blocks
    for block_row in range(0, 9, 3):
        for block_col in range(0, 9, 3):
            block = []
            for i in range(3):
                for j in range(3):
                    block.append(board[block_row + i][block_col + j])
            if len(set(block)) != 9:
                return False

    return True

board = [
    [5, 3, 0, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
]
print(valid_sudoku(board))

True